@font-face {
	font-family:kinruu;
	src:url(/fonts/kinruu.ttf);
}
*{
	font-family: kinruu , monospace;
}

body {
	background-color:#999999;
}

blockquote {
	font-family: kinruu, arial;
	background:#bbbbbb;
	padding:5px;
}

pre {
	background:#bbbbbb;
	padding:10px;
}
